<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <h2>Login</h2>
        <form [(formGroup)]="loginForm" #form="ngForm" (submit)="login()">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" name="username" class="form-control" formControlName="username">
                <div *ngIf="UserName.invalid && UserName.touched" class="text-danger">
                        <div *ngIf="UserName.errors && UserName.errors['required']">
                            User Name cannot be empty
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" formControlName="password">
                <div *ngIf="Password.invalid && Password.touched" class="text-danger">
                        <div *ngIf="Password.errors && Password.errors['required']">
                            Password cannot be empty
                        </div>
                        <div *ngIf="Password.errors && Password.errors['minlength']">
                                Password should be 8 char
                            </div>
                    </div>
            </div>
            
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </div>
</div>