
@{
    ViewData["Title"] = "Index";
}

<h1>Employee Index</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Details">Go To Details View</a>

<br />

DI message : @ViewBag.message