<div class="row">
    <div class="col-md-6 col-lg-4 mx-auto">
        <h2>Register</h2>
        <form [(formGroup)]="userForm" #form="ngForm" (submit)="register()">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" class="form-control" formControlName="fullname">
                <div *ngIf="FullName.invalid && FullName.touched" class="text-danger">
                    <div *ngIf="FullName.errors && FullName.errors['required']">
                        Full Name cannot be empty
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" name="username" class="form-control" formControlName="username">
                <div *ngIf="UserName.invalid && UserName.touched" class="text-danger">
                        <div *ngIf="UserName.errors && UserName.errors['required']">
                            User Name cannot be empty
                        </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control" formControlName="password">
                <div *ngIf="Password.invalid && Password.touched" class="text-danger">
                        <div *ngIf="Password.errors && Password.errors['required']">
                            Password cannot be empty
                        </div>
                        <div *ngIf="Password.errors && Password.errors['minlength']">
                                Password should be 8 char
                            </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" formControlName="email">
                <div *ngIf="Email.invalid && Email.touched" class="text-danger">
                        <div *ngIf="Email.errors && Email.errors['required']">
                                Email cannot be empty
                        </div>
                        <div *ngIf="Email.errors && Email.errors['email']">
                               Invalid Email format
                            </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" name="mobile" class="form-control" formControlName="mobile">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>